<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="">
    
  </connectionStrings>
  
  
  <appSettings>
    
    <add key="URL" value="http://www.google.com/" />
    <add key="ScreenshotFolder" value="\\Screenshots"/>
    <add key="ReportFolder" value="\\Test_Execution_Reports"/>
  </appSettings>
  
</configuration>